<?xml version="1.0" encoding="UTF-8"?>

<launch>

	<arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle]"/>

	<include file = "$(find adithya_navigate)/launch/adithya_robot_description.launch">
		<arg name="model" value="$(arg model)" />
	</include>
	
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find adithya_navigate)/worlds/jackal_race.world"/>
	</include>

	<node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  output="screen" args="-urdf -model turtlebot3_$(arg model) -param robot_description" />

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find adithya_navigate)/config/adithya.rviz"/>

</launch>


